#topnav {
  background-color: black;
  overflow: hidden;
  list-style-type: none;
}

.topnav-fixed {
	top: 0;
	left: 0;
	right: 0;
	position: fixed;
	text-align: center;
	margin: 0 auto;
	
	/* Box */
	width: 638px;
	border: 2px solid white;
}

body {
  font-family: sans-serif;
  background-color: black;
  color: white;
}

pre.ascii {
	font-size: 14px;
}

div.main {
  font-family: sans-serif;
  width: 640px;
  margin: 0 auto;
  background-color: black;
  color: white;
}

a {
  color: lightskyblue;
}

img.rounded {
	border-radius: 30px;
}

p.codeComment:before {
  content: "// ";
}

p.codeComment {
	color: lightblue;
	font-size: 14px;
}

span.special {
	color: lightblue;
	}

div.boxed {
	border: 2px solid white;
	padding: 15px;
}

h1 {
  text-align: center;
}